WebEventos/WebEventos/Service References/SRefEvento/EventoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4356/EventoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sise.Entities" />
  <xs:import schemaLocation="http://localhost:4356/EventoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sise.WcfService.Entity" />
  <xs:element name="registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sise.Entities" minOccurs="0" name="evento" nillable="true" type="q1:Evento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sise.WcfService.Entity" minOccurs="0" name="registrarResult" nillable="true" type="q2:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sise.Entities" minOccurs="0" name="evento" nillable="true" type="q3:Evento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sise.WcfService.Entity" minOccurs="0" name="actualizarResult" nillable="true" type="q4:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodEvento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sise.WcfService.Entity" minOccurs="0" name="eliminarResult" nillable="true" type="q5:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sise.Entities" minOccurs="0" name="listarResult" nillable="true" type="q6:ArrayOfEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodEvento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sise.Entities" minOccurs="0" name="buscarResult" nillable="true" type="q7:Evento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>