WebEventos/WebEventos/Service References/SRefEvento/EventoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sise.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sise.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodAreaTematica" type="xs:int" />
      <xs:element minOccurs="0" name="CodEvento" type="xs:int" />
      <xs:element minOccurs="0" name="CodUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="DescripcionEvento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expositor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaEvento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LimiteParticipantes" type="xs:int" />
      <xs:element minOccurs="0" name="LugarEvento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LugaresDisponibles" type="xs:int" />
      <xs:element minOccurs="0" name="NombreEvento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Evento" nillable="true" type="tns:Evento" />
  <xs:complexType name="ArrayOfEvento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Evento" nillable="true" type="tns:Evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvento" nillable="true" type="tns:ArrayOfEvento" />
</xs:schema>