WebEventos/WebEventos/Service References/SRefEventoParticipante/EventoParticipanteService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sise.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sise.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EventoParticipante">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodEvento" type="xs:int" />
      <xs:element minOccurs="0" name="CodParticipante" type="xs:int" />
      <xs:element minOccurs="0" name="CodUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParticipanteAsistio" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventoParticipante" nillable="true" type="tns:EventoParticipante" />
  <xs:complexType name="ArrayOfEventoParticipante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventoParticipante" nillable="true" type="tns:EventoParticipante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventoParticipante" nillable="true" type="tns:ArrayOfEventoParticipante" />
</xs:schema>