WebEventos/WebEventos/Service References/SRefAreaTematica/AreaTematicaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sise.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sise.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AreaTematica">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodAreaTematica" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreAreaTematica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AreaTematica" nillable="true" type="tns:AreaTematica" />
  <xs:complexType name="ArrayOfAreaTematica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AreaTematica" nillable="true" type="tns:AreaTematica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAreaTematica" nillable="true" type="tns:ArrayOfAreaTematica" />
</xs:schema>